<section class="py-5">
    <div class="container">
        <h1 style="margin: 2%; text-align: center;">Trip</h1>
        <div>
            <div class="form-group text-center">
                <img src="@Model.ImagePath" class="img-fluid">
            </div>
            <div class="form-group">
                <label for="startPoint">Starting Point</label>
                <h5 type="text" readonly class="form-control" id="startPoint" name="StartPoint" value="StartPoint">@Model.StartPoint</h5>
            </div>
            <div class="form-group">
                <label for="endPoint">End Point</label>
                <h5 type="text" readonly class="form-control" id="endPoint" name="EndPoint" value="EndPoint">@Model.EndPoint</h5>
            </div>
            <div class="form-group">
                <label for="departureTime">Departure Time</label>
                <h5 type="datetime-local" readonly class="form-control" id="departureTime" name="departureTime" value="DepartureTime">@Model.DepartureTime</h5>
            </div>
            <div class="form-group">
                <label for="seats">Seats</label>
                <h5 type="number" readonly class="form-control" id="seats" name="Seats" value="Seats">@Model.Seats</h5>
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <h5 type="text" readonly class="form-control" id="description" name="Description" value="Description">@Model.Description</h5>
            </div>
            <div class="form-group text-center">
                <div class="button-holder">
                    <a href="/Trips/AddUserToTrip?tripId=@Model.Id" class="btn btn-primary btn-block text-uppercase">Join</a>
                </div>
            </div>
        </div>
    </div>
</section>